{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}">
{% endblock %}

{% block title %}
Sympatico | Signin
{% endblock %}

{% block body %}
<div class="form">
  <form method="POST">
    {{ form.hidden_tag() }}
    <h4>Confirm Your Identity</h4>
    {{ form.username(placeholder="Enter Username") }} <br>
    {{ form.password(placeholder="Enter Password") }} <br>
    <button class="btn" type="submit">
      <span class="button--text">SIGN IN</span>
    </button>
    <p>Don't have an account, proceed to Registration</p>
    <a href="{{ url_for('signup') }}">Register</a>
  </form>
</div>

<script src="{{ url_for('static', filename='js/signin.js') }}"></script>
{% endblock %}
