{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
{% endblock %}

{% block title %}
Sympatico | SignUp
{% endblock %}

{% block body %}
<div class="form">
  <form method="POST">
    {{ form.hidden_tag() }}
    <h4>Register Below</h4>
    {{ form.first_name(placeholder="Enter First Name") }}<br>
    {{ form.second_name(placeholder="Enter Second Name") }}<br>
    {{ form.last_name(placeholder="Enter Last Name") }}<br>
    {{ form.email_address(placeholder="Enter Email Address") }}<br>
    {{ form.phone_number(placeholder="Enter Phone Number")}}<br>
    {{ form.username(placeholder="Enter Username")}}<br>
    {{ form.password(placeholder="Enter Password")}}<br>
    {{ form.password1(placeholder="Confirm Password") }}<br>
    <button class="btn" type="submit">
      <span class="button--text">SIGN UP</span>
    </button>
    <p>Already have an account, proceed to login</p>
  <a href="{{ url_for('signin') }}">Login</a>
  </form>
</div>


<script src="{{ url_for('static', filename='js/signup.js') }}"></script>
{% endblock %}
